
*{
    margin: 0;
    padding: 0;
}

header {
    margin-top: 2,5;
}

.marginSite{
    margin: 0 10vw;
}
.flex{
    display: flex;
    align-items: center;
}

/*Header*/
.containerMenuPrincipal{
    margin-left: 5vw;
    justify-content: space-between;
    width: 100%;
}
/*fim header*/